<h1>{{question.question_content}}</h1>


{% if error_message%} <p><strong>{{error_message}}</strong></p>{%endif%}
<form action="{% url 'poll:vote' question.id%}" method="POST">
    {%csrf_token %}
    {% for choice in question.choice_set.all%}
        <input type="radio" name="choice" id="choice{{forloop.counter}}" value="{{choice.id}}" >
        <label for="choice{{forloop.counter}}">{{choice.choice_content}}</label>
        <br>
    {% endfor %}
    <input type="submit" value="subm">

</form>

