<!-- {% if questions %}
    <ul>
    {% for question in questions %}
        <li><a href="{% url 'poll:detail' question.id %}">{{ question.question_content }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %} -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    {% if questions%}
    <div class="row">
        <div class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">textsms</i>
                    <input type="text" id="autocomplete-input" class="autocomplete">
                    <label for="autocomplete-input">Autocomplete</label>
                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col s12 m6">
                {% for question in questions%}
                <div class="card pink lighten-2 text-white text-darken-3">
                    <div class="card-content white-text">
                        <span class="card-title">{{question.question_content}}</span>
                        <p>
                            this question was published :
                            <span class="grey-text text-lighten-2">{{question.question_published_date}}</span>
                        </p>

                    </div>
                    <div class="card-action">
                        <a href="{%url 'poll:detail' question.id%}">Detail</a>
                        <span class="badge new  " data-badge-caption="nouveau"></span>
                    </div>
                </div>
                {%endfor%}
            </div>
        </div>
    </div>
    {%else%}
    <p>No polls are available.</p>
    {%endif%}
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.autocomplete');
        var instances = M.Autocomplete.init(elems, {
            data: {
                "Apple": null,
                "Microsoft": null,
                "Google": 'https://placehold.it/250x250'
            },
            onAutocomplete: function(){console.log("hello")}
        });
    });

</script>

</html>